html body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin: 0 20px;
  margin-bottom: 100px;
}
.header-1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 100%;
  margin-top: 10px;
}
body li {
  margin-top: 40px;
  text-align: center;
}
li a {
  font-size: 36px;
  font-weight: 600;
  color: rgb(26, 10, 117);
}
.gitar-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.gitar-img {
  width: 200px;
}
